---
import Button from './Button.astro';
import { ArrowRight } from 'lucide-astro';

interface Props {
    title: string;
    body: string;
    href: string;
    image: string;
    newTab?: boolean;
}

const { href, title, body, image, newTab = true } = Astro.props;
---

<div id={title} class="flex flex-col-reverse lg:flex-row">
    <div
        id={title + '-description'}
        class="w-full lg:w-[50%] flex flex-col justify-between pt-4 lg:pr-8 space-y-2 lg:space-y-0"
    >
        <h3 class="font-medium">{title}</h3>
        <p class="font-light">
            {body}
        </p>
        <Button type="link" variant="text" href={href}>
            <p>Go visit</p>
            <ArrowRight size={16} strokeWidth={0.75} />
        </Button>
    </div>
    <div
        id={title + '-image'}
        class="w-full lg:w-[50%] flex items-center justify-center"
    >
        <img
            src={image}
            alt="sharemy.site"
            class="w-full border border-gray-200"
        />
    </div>
</div>
