---
interface Props {
    title: string;
    body: string;
    href: string;
    image: string;
}

const { href, title, body, image } = Astro.props;
---

<div id={title} class="flex flex-row">
    <div
        id={title + '-description'}
        class="w-[50%] flex flex-col justify-between pr-8"
    >
        <h3 class="font-bold">{title}</h3>
        <p class="">
            {body}
        </p>
        <a href={href} class="hover:text-rose-600" target="_blank"
            >Go visit -></a
        >
    </div>
    <div id={title + '-image'} class="w-[50%] flex items-center justify-center">
        <img src={image} alt="sharemy.site" class="w-full border" />
    </div>
</div>
