---
interface Props {
    title: string;
    body: string;
    href: string;
    image: string;
    newTab?: boolean;
}

const { href, title, body, image, newTab = true } = Astro.props;
---

<div id={title} class="flex flex-row">
    <div
        id={title + '-description'}
        class="w-[50%] flex flex-col justify-between pr-8"
    >
        <h3 class="font-medium">{title}</h3>
        <p class="">
            {body}
        </p>
        <a href={href} class="button-primary" target={newTab ? '_blank' : ''}
            >Go visit -></a
        >
    </div>
    <div id={title + '-image'} class="w-[50%] flex items-center justify-center">
        <img
            src={image}
            alt="sharemy.site"
            class="w-full shadow-[rgba(0,_0,_0,_0.24)_0px_2px_4px]"
        />
    </div>
</div>
